.form-row {
    display: flex;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border:  solid pink;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus,
.form-group select:focus {
    border-color: pink;
}

.form-group input[type="text"]:-webkit-autofill,
.form-group input[type="date"]:-webkit-autofill,
.form-group select:-webkit-autofill {
    box-shadow: 0 0 0 30px pink inset !important;
    -webkit-box-shadow: 0 0 0 30px pink inset !important;
}


input[type="submit"]:hover {
    background-color: mediumvioletred;
}



.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    height: 80px;

    padding: 15px;

    border:  solid pink;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    resize: vertical;
}
.form-group input[type="file"] {
    display: none;
}

.image-box {
    width: 200px;
    height: 100px;
    margin: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;

    border: 2px solid deeppink; /* Change the border color as desired */
    transition: transform 0.2s ease-in-out;
}

.image-box:hover {
    transform: scale(1.05);
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.image-box input[type=file] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.image-box {
    position: relative;
}


.row {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

}