@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: rgb(219, 219, 219);
}

.container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* Side menubar section */
nav{
    background: #fff;
}
.side_navbar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;

}

.side_navbar span {
    color: deeppink;
    margin: 20px;
    font-size: 20px;
}

.side_navbar a {
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 500;
    font-size: 15px;

    text-decoration: none;
    transition: background-color 0.3s ease;
}



.search-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

select {
    border: 0;
    outline: 0;
    font: inherit;
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    border-radius: 0.25em;
    margin: 20px;
    background-color: violet;
}

.search-filter button.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    outline: 0;
    font: inherit;
    background-color: hotpink;
    height: 3em;
    min-width: 80px;
    cursor: pointer;
}
.side_navbar a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.side_navbar a:hover {
    background: deeppink;
}

.side_navbar .active {
    border-left: 2px solid #646464;
}

/* Main Body Section */
.main-body{
    width: 70%;
    padding: 1rem;
}

.table info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table{
    background: papayawhip;
    padding: 1rem;
    text-align: left;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    margin: 10px;
    border-image-source:url("https://png.pngtree.com/png-vector/20190130/ourlarge/pngtree-minimalistic-love-line-border-element-png-image_586451.jpg"); /*BƯỚC 2*/
    border-image-slice:80;
}
table td, th{
    padding: 0.2rem 0.8rem;
}
table th{
    font-size: 15px;
}
table td{
    font-size: 13px;
    color: rgb(100, 100, 100);
}



