.main-body{
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}
.status-account{
    text-transform: uppercase;
}
.main{
    width: 100%;
}
.service-list.heading{
    font-size: 2rem;
    text-align: center;
}
.table.info{
    width: 100%;
    overflow-x: auto;
    flex-grow: 1;
    min-height: 600px;
}
.styled-table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}
.search-title{
    text-align: center;
}
.search-filter{
    width: calc(100% - 20px);
}
html{
    overflow-x: hidden;
}
nav{
    background:#FFE4E1;
}
.side_navbar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;

}


.side_navbar a {
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 500;
    font-size: 15px;

    text-decoration: none;
    transition: background-color 0.3s ease;
}





.search__filter--list{
    padding: 10px;
    background: pink;
    border: none;
    border-radius: 10px;
}

.search-filter button.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    outline: 0;
    font: inherit;
    background-color: hotpink;
    min-width: 80px;
    cursor: pointer;
    padding: 20px;
    height: 10px;

}
.side_navbar a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.side_navbar a:hover {
    background: hotpink;
    color: white;
}

.side_navbar .active {
    border-left: 2px solid #646464;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px pink;
}
.styled-table thead tr {
    background-color: hotpink;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.block-btn:hover{
   background: hotpink;
    color: #fff;
    cursor: pointer;
}
.listPage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.listPage li {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: hotpink;    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.listPage li:hover {
    background-color: pink;
}

.listPage li.active {
    background-color: pink;
    font-weight: bold;
    color: black;
}

.listPage li.prev, .listPage li.next {
    background-color: #6c757d;
}

.listPage li.prev:hover, .listPage li.next:hover {
    background-color: #5a6268;
}
.search-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
@media (min-width: 992px) {

}

/*Máy tính bảng và đt*/
@media (max-width: 991.98px) {
    .service-list.heading{
        font-size: 1.5rem;
    }
    .nav-dashboard{
        display: none;
    }
}
/*Máy tính bảng*/
@media (min-width: 768px) and (max-width: 991.98px) {
.container-list{
    padding: 10px;
}
    .table info{
        overflow: auto;
    }
    .main-body{
        width: 100%;
    }

}
/*Điện thoại*/
@media (max-width: 767.98px) {
    .container-list{
        padding: 10px;
    }
    .table-info{
        overflow: auto;
    }
    .main-body{
        width: 100%;
    }
    .styled-table {
        width: 200%;

    }
    .listPage{
        gap: 10px;
        flex-wrap: wrap;
    }

}









