
.service-heading{
    text-align: center;
    font-size: 2rem;
}
input[type="submit"] {
    width: 300px;
    max-width: calc(100% - 20px);
    padding: 15px;
    background-color: hotpink;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.8rem;
    outline: none;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    text-align: center;

}

input[type="submit"]:hover {
    background-color: mediumvioletred;
}


.containers{

    background-color: white;
    margin-right: 80px;


}

.row {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.row label {
    padding: 20px;
    cursor: pointer;
    display: flex;
}

.row label input[type="checkbox"] {
    display: none;
}

.row label .icon-box {
    position: relative;
    display: flex;
    width: 280px;
    height: 160px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #353746;
    color:white;

    border-radius: 10px;
    font-size: 2rem;
    transition: 0.5s;
    user-select: none;

}
.price {
    text-align: center;
    padding: 20px;
}

.price input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid hotpink;
    border-radius: 3px;
    outline: none;
}

.price input[type="text"]:focus {
    border-color: #21c1ff;
}
.row label input[type="checkbox"]:checked ~ .icon-box {
    background: linear-gradient(138deg, pink, deeppink,hotpink);
    color:white;
    transition: transform 0.2s ease;
    transform: translateY(-10px);
}

.row label .icon-box span {
    margin: 5px;
    font-size: 1.8rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .service-heading{
        text-align: center;
        font-size: 1.5rem;
    }

    .main-body {
        width: 100%;
    }
    .row {

        grid-template-columns: 1fr 1fr;
    }

}
@media (max-width: 767.98px) {
    .row label .icon-box span {

        font-size: 1rem;
    }
    .icon-box{
        width: 200px !important;
        padding: 0;
    }
    .row {

        display: grid;
        grid-template-columns: 1fr;
    }
    .main-body .services\[\]{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}











